<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>
    <h1><%= board.board_name %></h1>
    <p>Description: <%= board.description %></p>
    <div>
      <h2>Records</h2>
      <!-- List of added entries -->
    </div>
  <div>
      <button onclick="window.location.href='/boards/<%= board._id %>/edit'">Edit</button>
      <form action="/boards/<%= board._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
      <button onclick="window.location.href='/boards/<%= board._id %>/records/add'">Add Records</button>
  </div>
</body>
</html>