<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Journal Entry</title>
</head>
<body>
    <div class="record-details">
        <h1><%= journalEntry.album_title %></h1>
        <h3><%= journalEntry.artist %></h3>
        <div>
            <%- journalEntry.spotify_embed_link %>
        </div>
        <p>Rating: <%= journalEntry.rating %>/5</p>
        <p><%= journalEntry.personal_notes %></p>
    </div>
    <div class="buttons">
        <a href="/records/<%= journalEntry._id %>/edit" class="btn">Edit</a>
        <form action="/records/<%= journalEntry._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn">Delete</button>
        </form>
        <a href="/boards/<%= journalEntry.board_id %>" class="btn">Back to Board</a>
    </div>
</body>
</html>